<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" type="text/css" />
  <link rel="stylesheet" href="/css/carrito.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

  <title>TheGameStore - Carrito de Compras</title>
</head>

<body>
  <%- include('./partials/header') %>


  <!-- Main content -->
  <main>
    <form action="#" method="post">
      <div class="contenedor-general">
        <label class="titulo">Finalizar Compra</label>


        <div class="contenedor-producto">

          <% if (carrito.length > 0) { %>
            <div class="productos-carrito">
              <% carrito.forEach(producto => { %>
                <div class="producto">
                  <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>">
                  <div class="detalles">
                    <h2><%= producto.nombre %></h2>
                    <p>Precio: $<%= producto.precio %></p>
                    <p>Cantidad: <%= producto.cantidad %></p>
                  </div>
                </div>
              <% }); %>
            </div>
            <div class="total">
              <h2>Total: $<%= calcularTotal(carrito) %></h2>
            </div>
          <% } else { %>
            <p>No hay productos en el carrito.</p>
          <% } %>

        <div class="datos-de-envio">
          <div class="codigo-postal">
            <label for="cp">Seleccionar Codigo Postal:</label>
            <select name="cp" id="cp">
              <option value="">--Codigo Postal--</option>
              <option value="4200">Santiago Del Estero</option>
              <option value="4300">La Banda</option>
              <option value="4400">Salta</option>
              <option value="4000">Tucuman</option>
            </select>
          </div>

          <div class="costo-de-envio">
            <h3>COSTO DE ENVIO: 999.999,99</h3>
          </div>
        </div>

        <!--agrego el segundo nivel-->

        <div class="datos-de-envio">
          <div class="punto-de-retiro">
            <label for="retiro">Seleccionar un punto de Retiro:</label>
            <select name="retiro" id="retiro">
              <option value="">--Elegir Opcion de Retiro--</option>
              <option value="domicilio">Envio a Domicilio</option>
              <option value="local">Retirar en Local del Vendedor</option>
              <option value="correo">Retirar en Sucursal de Correo</option>
              <option value="pick">Retirar en Punto Pick</option>
            </select>
          </div>
          <div class="total">
            <h3>TOTAL: $ 999.999,99</h3>
          </div>
        </div>

        <!--fin segundo nivel-->

        <div class="pagar">
          <div class="metodo-de-pago">
            <label for="pago">Elegir una opcion de Pago:</label>
            <select name="pago" id="pago">
              <option value="">--Opcion de Pago--</option>
              <option value="card">Trajeta de Credito</option>
              <option value="cash">Efectivo</option>
              <option value="tf">Transferencia Bancaria</option>
              <option value="cr">contrarembolso</option>
            </select>
          </div>
          <div class="boton-de-pagar">
            <button type="submit">Confirmar Compra</button>
          </div>
        </div>
      </div>
    </form>
  </main>

  <!-- Footer -->
  <footer>
    <div class="footer-section">
      <h4>Medios de pago</h4>
      <div class="formas-pagos">
        <a href="#" class="formas-pago"><img src="/img/visa.png" alt="tarjeta visa" /></a>
        <a href="#" class="formas-pago"><img src="/img/master.png" alt="mastercard" /></a>
        <a href="#" class="formas-pago"><img src="/img/amex.png" alt="amex card" /></a>
        <a href="#" class="formas-pago"><img src="/img/paypal.png" alt="paypal" /></a>
        <a href="#" class="formas-pago"><img src="/img/gpay.png" alt="gpay" /></a>
      </div>
    </div>
    <div class="footer-section">
      <h4>Síguenos en nuestras redes</h4>
      <div class="social-icons">
        <a href="#" class="social-icon"><img src="/img/pngwing.com.png" alt="Facebook" /></a>
        <a href="#" class="social-icon"><img src="/img/x.png" alt="Twitter" /></a>
        <a href="#" class="social-icon"><img src="/img/instagram.png" alt="Instagram" /></a>
        <a href="#" class="social-icon"><img src="/img/linkedin.png" alt="LinkedIn" /></a>
      </div>
      <!-- Contenido de la sección de redes sociales -->
    </div>
  </footer>
</body>

</html>