<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <!-- Main content -->
    <main>
      <div class="carousel-container">
        <div class="carousel">
            <div class="slide">
                <img
                    class="img-carru"
                    src="/img/22-08-2023-10-08-29-Banner 1 (1).jpg"
                    alt="Imagen 1"
                />
            </div>
            <div class="slide">
                <img
                    class="img-carru"
                    src="/img/4kinggstonnuevo (1).jpg"
                    alt="Imagen 2"
                />
            </div>
            <div class="slide">
                <img class="img-carru" src="/img/alanwaque.jpg" alt="Imagen 3" />
            </div>
        </div>
    </div>
    

      <!-- Sección de artículos más vendidos -->
      <section id="mas-vendidos">
        <h2>Ofertas</h2>
        <div class="articulos">
          <% masVendidos.forEach(product => { %>
            <!-- Renderizar cada producto -->
            <a href="/products/detail/<%= product.id %>">
              <div class="producto">
                <img src="/img/<%= product.image %>" alt="<%= product.name %>" />
                <div class="cont-precio">
                  <h3><%= product.name %></h3>
                  <p>Precio: $<%= product.price %></p>
                </div>
              </div>
            </a>
          <% }); %>
        </div>
      </section>

      <!-- Sección de productos destacados -->
      <section id="destacados">
        <h2>Populares</h2>
        <div class="productos-destacados">
          <% destacados.forEach(product => { %>
            <!-- Renderizar cada producto -->
            <a href="/products/detail/<%= product.id %>">
              <div class="producto-destacado">
                <img src="/img/<%= product.image %>" alt="<%= product.name %>" />
                <div class="cont-precio">
                  <h3><%= product.name %></h3>
                  <p>Precio: $<%= product.price %></p>
                </div>
              </div>
            </a>
          <% }); %>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer') %> 
    <script src="./carru.js"></script>
  </body>
</html>
