<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <!-- Main content -->
    <main>
      <!-- Sección de todos los productos -->
      <section id="todos-los-productos">
        <h2>Todos los productos</h2>
        <div class="productos">
          <% productos.forEach(product => { %>
            <!-- Renderizar cada producto -->
            <a href="/products/detail/<%= product.id %>">
              <div class="producto" id="producto-<%= product.id %>">
                <img src="/img/<%= product.image %>" alt="<%= product.name %>" />
                <div class="cont-precio">
                  <h3><%= product.name %></h3>
                  <p>Precio: $<%= product.price %></p>
                </div>
              </div>
            </a>
          <% }); %>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer') %> 
    <script src="./carru.js"></script>
  </body>
</html>
